.calculator-light-mode{
    text-align: center;
    padding: 5% 30% 30%;
    background-color: #fff;
}

.calculator-dark-mode {
    text-align: center;
    padding: 5% 30% 30%;
    background-color: #000;
}

.extra-buttons-dark input {
    color: white;
}

.extra-buttons-white input {
    color: black;
}